
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Управление пользователями</h2>

<address>
    <strong>Вопросы:</strong>   <a href="mailto:vbuain@gmail.com">vbuain@gmail.com</a><br />
</address>