
@{
    ViewBag.Title = "Test1";
}

<h2>Test1</h2>

<form method="post" action="ResultTest1">
    <p>Вопрос1.</p>
    <input type="text" name="Test1Answer1" />
    <p>Вопрос2.</p>
    <input type="text" name="Test1Answer2" />
    <p>Вопрос3.</p>
    <input type="text" name="Test1Answer3" />
    <input type="submit" value="Далее" />
</form>