@model MVCInterface.Models.User
@{
    ViewBag.Title = "Управление";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Панель управления тестами</h2>

<address>
    <strong>Вопросы:</strong>   <a href="mailto:vbuain@gmail.com">vbuain@gmail.com</a><br />
</address>

