@{
    ViewBag.Title = "Добро пожаловать в Систему тестирования знаний!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Support:</strong>   <a href="mailto:vbuain@gmail.com">vbuain@gmail.com</a><br />
</address>