@{
    ViewBag.Title = "Система Тестирования Знаний";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Вход на сайт", "Login", "Account")</li>
        <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
    </ul>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:vbuain@gmail.com">vbuain@gmail.com</a><br />
</address>