@{
    ViewBag.Title = "Результаты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Результаты тестирования.</h2>

<address>
    <strong>Вопросы:</strong>   <a href="mailto:vbuain@gmail.com">vbuain@gmail.com</a><br />  
</address>