@{
    ViewBag.Title = "Тесты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Здесь можно выбрать и пройти тесты.</p>

<address>
    <strong>Вопросы:</strong>   <a href="mailto:vbuain@gmail.com">vbuain@gmail.com</a><br />
</address>
